body {
    background-color: #bc4749;
}

.atma-regular {
    font-family: "Atma", system-ui;
    font-weight: 400;
    font-style: normal;
  }

.container {
    background-color: #f2e8cf;
    padding: 25px;
}

.descriptive-text {
    text-align:center;
}

.user-input {
    text-align:center;
}